Source: ros-groovy-stereo-image-proc
Section: misc
Priority: extra
Maintainer: "Vincent Rabaud <vincent.rabaud@gmail.com>"
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-catkin, ros-groovy-dynamic-reconfigure, ros-groovy-image-geometry, ros-groovy-image-proc, ros-groovy-image-transport, ros-groovy-message-filters, ros-groovy-nodelet, ros-groovy-opencv2, ros-groovy-sensor-msgs, ros-groovy-stereo-msgs
Homepage: http://www.ros.org/wiki/stereo_image_proc
Standards-Version: 3.9.2

Package: ros-groovy-stereo-image-proc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-dynamic-reconfigure, ros-groovy-nodelet, ros-groovy-opencv2
Description: Stereo and single image rectification and disparity processing.
