Source: ros-groovy-image-pipeline
Section: misc
Priority: extra
Maintainer: Vincent Rabaud <vincent.rabaud@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-catkin
Homepage: http://www.ros.org/wiki/image_pipeline
Standards-Version: 3.9.2

Package: ros-groovy-image-pipeline
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-camera-calibration, ros-groovy-depth-image-proc, ros-groovy-image-proc, ros-groovy-image-rotate, ros-groovy-image-view, ros-groovy-stereo-image-proc
Description: image_pipeline fills the gap between getting raw images from a camera driver and higher-level vision processing.
